<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Travel!</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
    <header>
        <div class="row">
            <div class="col-2 p-5"></div>
            <div class="col-8 p-5">
                <form th:action="@{/airports}" method="get">

                    <div class="form-group text-center">
                        <label class="pb-3 " style="font-size: 32px;color: darkcyan">Where are we flying from?</label>
                        <input type="text" class="form-control" placeholder="enter min. 3 letters" th:name="input"/>
                    </div>
                    <button type="submit" class="btn btn-info">submit</button>
                </form>
            </div>
        </div>
    </header>
</body>
</html>