<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Travel!</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<header>
    <div class="row">
        <div class="col-2 p-5">
            <a th:href="@{/}" type="button" class="btn btn-info text-white">try again</a>
        </div>
        <div class="col-8 p-5">
            <p style="font-size: 32px;color: darkcyan">
                <td>Flight inspirations from <td>
                <td th:text="${origin}"></td>
                <td>:</td>
            </p>
        </div>
    </div>
</header>
<section>
    <div class="row pr-5 pl-5">
        <th:block th:each="flight: ${flights}">
            <div class="col-md-4 pt-2 pb-2">
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top" th:src="${flight.getOrigin()}" alt="Card image cap">
                        <h4 class="card-title" th:text="${flight.getDestination()}"></h4>
                        <p class="card-text" >
                            <td>from: </td>
                            <td style="font-weight: bold" th:text="${flight.getDepartureDate()} "></td>
                            <td>to: </td>
                            <td style="font-weight: bold" th:text="${flight.getReturnDate()} "></td>
                        </p>
                        <p class="card-text" >
                            <td>costs:</td>
                            <td style="font-weight: bold" th:text="${flight.getPrice().getTotal()}"></td>
                            <td style="font-weight: bold">EUR</td>
                        </p>
                        <p class="card-text" >
                        <td>distance:</td>
                        <td style="font-weight: bold" th:text="${flight.getType()}"></td>
                        <td style="font-weight: bold">km</td>
                        </p>
                    </div>
                </div>
            </div>
        </th:block>

    </div>
</section>


</body>
</html>